<div class="container">
    <h3 class="text-center mt-4">Signup</h3>
    <form [formGroup]="signupform">
        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
            
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
       
        <button type="submit" class="btn btn-primary" (click)="signup()">signup</button>
      </form>

      <div>
        <p>I have an account <a routerLink="/login"> Login</a></p>
      </div>
</div>